

  <div class="princial modal-body row" >
    
  
    <div class=" left col-md-4">
        <div class="card" style="height: 100%;">
            <div class="card-body">
              <app-logo></app-logo>
              
                <h1 class="login-estilo">Registrarme con mi cuenta de Amazon</h1>
                
                <form >
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" formControlName="name">
                </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <br>
                    <div class="form.group" >
                      
                        
                     
                      <button type="submit" class="btn btn-primary btn-lg btn-block "style="width:100%; height:100%; ">Registarse</button>
                    </div>
                    
                </form>
                <div class="form-group mt-3">
                  <p>
                    <input type="checkbox">
                    recordar mis datos
                  </p>
                    
                    <p><a href="/" id="nuevo"> Soy nuevo en amazon</a></p>
                </div>
            </div>
        </div>
    
    </div>

<div class=" ringht col-md-8 " style="background-image: url('/assets/img/fondo.png');  height: 100vh;">

  <div class="botones col">
    <a href="/" class="btn" ><span >Iniciar sesion </span>  </a>
   <a href="/" class="btn" ><span >olvide mi contraseña</span></a>
  </div>
  <br>

  <div class="col-md-6  titulo">
    <h1>registrate y obten un audio libro gratis</h1>
  </div>

  <div class="col-md-3 sub-titulos" >
    <h4>escuchar tus audio libros es mas facil que nunca</h4>
    <br>
    <h6>al registrarte tu menbresia incluye 30 dias con 1 audio libro + audible originals selectos totalmente gratis</h6>
  </div>
</div>
  </div>

